

.profile-page {
  background-color: #F2F2F2;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 65px - 40px);
  overflow: auto;

  
  .col {
    display: grid;
    align-content: start;
    gap: 20px;
  }

  .subtitle-header {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #5570FA;
  }

  .edit-fab {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    display: grid;
    place-items: center ;


    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color 0s ease;
    }
  }

  .edit-fab.confirm {
    &:hover {
      background-color: rgba(0, 255, 0, 0.2);
      color: limegreen;
    }
  }

  .card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
    height: fit-content;
    position: relative;
  }


}

.profile-page .pitch-card {
  display: grid;
  row-gap: 15px;

  h2 {
    font-weight: 700;
    font-size: 40px;
  }

  .caption {
    display: flex;
    gap: 20px;
    
    font-weight: 500;
    font-size: 18px;
    padding: 0 0 15px 6px;
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}



.profile-page .skills-card {
  display: grid;
  row-gap: 20px;

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .skills.deleting {
    > * {
      cursor: pointer;

      &:hover {
        filter: grayscale(0.9);
      }
    }
  }



  .skill-adder {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    transition: border 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      border: 1px solid #4096ff;
    }

    &.active {
      border: 1px solid #4096ff;
      box-shadow: 0 0 0 1px rgba(64, 150, 255, 0.2);
    }

    input {
      border: none;
      outline: none;
      padding: 4px 8px;
      width: 80px
    }

    .add-skill-icon {
      cursor: pointer;
      color: grey;
    }
  }
}


.profile-page .stats-card {
  display: grid;
  row-gap: 30px;

  .stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
  }

  .stat-card {
    border-radius: 6px;
    color: #FFFFFF;
    display: grid;
    justify-content: center;
    row-gap: 20px;
    padding: 20px;


    h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 24px;
      text-align: center;
    }

    .type {
      font-size: 15px;
      font-weight: 700;
      white-space: nowrap;
    }
  }

}


.profile-page .resume-card {
  display: grid;
  gap: 20px 40px;
  grid-template-areas: 
  'title upload'
  'file  upload';
  grid-template-columns: 1fr min-content;
  align-items: center;

  h5 {
    grid-area: title;
  }

  .upload {
    grid-area: upload;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color 0s ease;
    }
  }

  .resume-name {
    grid-area: file;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;


    svg {
      color: #3ACC37;
    }
  }
}



.profile-page .preferred-card {
  display: grid;
  align-items: center;
  row-gap: 30px;

  p,
  .fields > span {
    font-weight: 700;
    font-size: 16px;
    height: fit-content;
  }

  .fields {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header {
    display: flex;
    align-items: center;
  }


  .content {
    display: grid;
    grid-template-columns: minmax(120px, 20%) 1fr;
    gap: 25px 20px;
    padding-left: 10px;
  }

  .radio {
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    display: flex;
    gap: 8px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .radio:nth-child(1).active {
    background-color: rgba(58, 204, 55, 0.26);
    color: #3ACC37;
  }

  .radio:nth-child(2).active {
    background-color: rgba(255, 0, 0, 0.26);
    color: #FF0000;
  }


  .min-pay-input {
    padding: 6px 11px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
      border: 1px solid #4096ff;
    }
    &:focus {
      border: 1px solid #4096ff;
      box-shadow: 0 0 0 1px rgba(64, 150, 255, 0.2);
    }
  }
}

.profile-page .signout-card {
  display: grid;
  row-gap: 20px;

  .subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #888888;
  }

  .logout {
    border: 1px solid #FF0000;
    background-color: transparent;
    padding: 8px;
    border-radius: 6px;
    color: #FF0000;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
    svg {
      color: #FF0000;
    }

    &:hover {
      background-color: rgba(255, 0, 0, 0.1);
    }
    &:active {
      background-color: rgba(255, 0, 0, 0.4);
      transition: background-color 0s ease;
    }
  }
}