

.opportunity-link {
  display: grid;
  grid-template-areas: 'content arrow';
  grid-template-columns: auto 40px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(136, 208, 255);
    transition: background-color 0.2s ease, border 0.2s ease;
  }

  .content {
    grid-area: content;
    display: grid; 
    row-gap: 12px;
    padding: 12px 0px 12px 24px;
    
    h3 {
      font-size: 18px;
      font-weight: 600;
    }

    .description {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      padding-top: 10px;
    }

    .subtitle {
      font-size: 13px;
      font-weight: 500;
      color: #8f8f8f;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding: 10px 0;
    }
    
    .date {
      font-weight: 500;
      font-size: 12px;
      color: rgb(155, 155, 155);
    }
  }


  .arrow {
    grid-area: arrow;
    display: grid;
    place-items: center;
  }
}