



.home-page {
  display: grid;
  grid-template-areas: 'drawer chat';
  grid-template-rows: calc(100vh - 65px);
  grid-template-columns: minmax(300px, 45%) minmax(300px, 1fr);

  .opportunity-drawer {
    grid-area: drawer;
    border-right: 1px solid #B9B9B9;

    .search {
      padding: 10px;
      background-color: #FFFFFF;

      display: grid;
      grid-template-columns: auto min-content;
      gap: 10px;
    }

    .filters {
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #DDDDDD;
      border-radius: 6px;
      padding: 0 20px;
      color: #666666;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.2s ease; 

      &:hover {
        background-color: #c9c9c9;
      }
      &:active {
        background-color: #a1a1a1;
        transition: background-color 0s ease;
      }
    }


    .opportunities {
      display: grid;
      align-content: start;
      gap: 15px;
      height: calc(100% - 52px);
      overflow-y: scroll;
      padding: 0 10px;

      &::-webkit-scrollbar {
        width: 6px;
        transition: 0.2s ease;
      }
      
      &::-webkit-scrollbar-thumb {
        background: rgb(196, 196, 196);
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    

  }




  .opportunity-details {
    grid-area: chat;
    background-color: #F2F2F2;
    padding: 15px;
    overflow: auto;


    .card {
      background-color: #FFFFFF;
      border-radius: 10px;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      position: relative;

      display: grid;
      animation: show 0.2s ease forwards;
    }

    @keyframes show {
      from {
        transform: translateY(100vh);
      }
      to {
        transform: translateY(0);
      }
    }

    .header {
      background-color: #2B3B93;
      padding: 25px;
      border-radius: 10px 10px 0 0;
      color: #FFFFFF;


      display: grid;
      grid-template-areas: 
      'title apply'
      'subtitle x'
      'options x';
      grid-template-columns: auto min-content;
      gap: 0 15px;


      .header-title {
        grid-area: title;
        font-size: 24px;
        padding-bottom: 15px;
      }

      button {
        border: none;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        padding: 10px 16px;
        border-radius: 6px;
        cursor: pointer;
        height: fit-content;
        
        display: flex;
        align-items: center;
        gap: 10px;

        transition: background-color 0.15s ease;
      }

      .apply {
        grid-area: apply;
        background-color: #3ACC37;

        &:hover {
          background-color: #30b12e;
        }
        &:active {
          background-color: #2d9e2b;
          transition: background-color 0s ease;
        }
      }

      .applied {
        grid-area: apply;
        background-color: #005f9e;
        cursor: default;
        color: #0092f3;
      }

      .message {
        background-color: #18A0FB;

        &:hover {
          background-color: #168bda;
        }
        &:active {
          background-color: #147bc0;
          transition: background-color 0s ease;
        }
      }

      .subtitle {
        grid-area: subtitle;
        padding-bottom: 15px;
      }

      .options {
        grid-area: options;
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .options .star {
        color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
      .options .star.active {
        color: #ffe600;
      }

    }

      
    .content {
      display: grid;
      grid-auto-rows: min-content;
      padding: 30px;
      align-items: start;
      gap: 35px;
      overflow: auto;

      .section {
        display: grid;
        gap: 14px 0;
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
      }

      h4 {
        color: #5570FA;
        font-size: 16px;
        font-weight: 700;
      }

      .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }

      .highlights {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 0px 10px;

        p:nth-child(2n + 1) {
          font-weight: bold;
        }
      }
    }
      

      


  }
}




.popover-card {
  width: min(100vw, 400px);
  height: 200px;

  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: 1fr;
  row-gap: 10px;
  justify-content: center;

  textarea {
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    background-color: #FFFFFF;
    resize: none;
    padding: 10px;
  }

  .options {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .option {
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.15s ease;

    display: flex;
    gap: 10px
  }


  .option {
    background-color: #3ACC37;
  }

  .option:hover {
    background-color: #30b12e;
  }

  .option:active {
    background-color: #2d9e2b;
    transition: background-color 0s ease;
  }


  .message-success-icon {
    display: grid;
    place-items: center;

    animation: fade-in 0.2s ease forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}