

.applications-page {
  width: 100%;
  height: calc(100vh - 65px);
  background-color: #F2F2F2;
  overflow: auto;
  display: grid; 
  grid-template-areas: 'x content y';
  grid-template-columns: auto 80% auto;


  .container {
    grid-area: content;
    padding: 40px 0;

    .options {
      display: grid;
      grid-template-areas: 'filter filters spacer search';
      grid-template-columns: min-content min-content auto min-content;
      align-items: center;
      gap: 15px;


      .filter-button {
        grid-area: filter;
        background-color: #0085FF;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 700;

        display: flex;
        align-items: center;
        gap: 10px;
        height: fit-content;
        padding: 10px 18px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #0075e2;
        }
        &:active {
          background-color: #0063c0;
          transition: background-color 0s ease;;
        }
      }

      .filters {
        grid-area: filters;
        display: flex;
        align-items: center;
        gap: 5px;

        @media (max-width: 1175px) {
          & {
            display: none;
          }
        }
      }

      .spacer {
        grid-area: spacer;
      }

      .search {
        grid-area: search;
      }

    }


    .applications {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap: 20px;
      padding-top: 20px;
    }
  }





}